{% extends "base.html" %}

{% block content %}
    {% if current_user.is_authenticated %}
        <a class="navbar-brand" href="/logout">{{ current_user.name }}</a>
    {% else %}
        <p>
            <a class="btn btn-primary test" href="/register">Зарегистрироваться</a>
            <a class="btn btn-success test2" href="/login">Войти</a>
        </p>
    <br>
    <br>
    {% endif %}
    <form action="" method="post">
        {{ form.hidden_tag() }}
        {{ form.csrf_token }}
        <p>
            {{ form.searching_label.label }}<br>
            {{ form.searching_label(class="form-control", type="text") }}<br>
            {% for error in form.searching_label.errors %}
                <p class="alert alert-danger" role="alert">
                    {{ error }}
                </p>
            {% endfor %}
        </p>
        <p>{{ form.speech_moving() }} {{ form.speech_moving.label }}</p>
        <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
        {{ message }}
    </form>
{% endblock %}